<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div>
	<h1>Cadastro do usuario</h1>
	<div >
		<form th:object="${usuario}" method="post" th:action="@{/cadastrarUsuario/salvar}">
			<div>
				<div>
					<input type="text" th:field="*{usuarioLogin}">
					<span th:if="${#fields.hasErrors('usuarioLogin')}" th:errors="*{usuarioLogin}"></span>
					<label>Usuario</label>
				</div>
			</div>
			<div>
				<div>
					<input type="text" th:field="*{senha}">
					<span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
					<label>Senha</label>
				</div>
			</div>
			<div>
				<div>
					<input type="text" th:field="*{tipo}">
					<span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span>
					<label>tipo</label>
				</div>
			</div>
			
		<button type="submit"><i>save</i>Salvar</button>
		</form>
	 </div>
	</div>
</body>
</html>