<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Produto</title>
	<meta charset="UTF-8"/>
	
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
			<form method="post" th:action="@{/logout}">	
				<button type="submit">Sair</button>
			</form>
		</div>
	</nav>
	
	<h1>Tabela de usuarios</h1>
	
		<div>
			<form th:object="${usuario}" th:action="@{/usuarios/nomeUsuario}" method="get">
				<div >
					<div >
			          <input name="usuarioLogin" type="text">
			          <label>Nome</label>
			        </div>
			        <button type="submit">Buscar</button>
				</div>
			</form>
		</div>
	
	
	
	<div>
	<span th:text="${#strings.isEmpty(messagem)} ? 
          '' : ${messagem}"></span>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Usuario</th>
					<th>senha</th>
					<th>tipo</th>
					<th>Ferramentas</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.idUsuario}"></td>
					<td th:text="${usuario.usuarioLogin}"></td>
					<td th:text="${usuario.senha}"></td>
					<td th:text="${usuario.tipo}"></td>
					<td>
						<a th:href="@{/usuario/alterar/{id} (id=${usuario.idUsuario})}"><i>edit</i></a>
						<a th:href="@{/usuarios/{id} (id=${usuario.idUsuario})}"><i>delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/cadastrarUsuario" ><i >add_circle</i>Novo</a>
			
	</div>
</body>
</html>