<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div>
	<h1>Cadastro do Funcionario</h1>
	<div>
		<form method="post" th:object="${funcionario}" th:action="@{/cadastrarFuncionario}">
			<div>
				<div>
		          <input type="text" th:field="*{nomeFuncionario}">
		          <span th:if="${#fields.hasErrors('nomeFuncionario')}" th:errors="*{nomeFuncionario}"></span>
		          <label>Nome do funcionario</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{estado}">
		          <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
		          <label>estado</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{cidade}">
		          <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
		          <label>cidade</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{cpf}">
		          <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
		          <label>cpf</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{rg}">
		          <span th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"></span>
		          <label>rg</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="date" th:field="*{data}">
		          <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></span>
		          <label>data</label>
		        </div>
			</div>
		<button type="submit"><i>save</i>Salvar</button>
		</form>
	 </div>
	</div>
</body>
</html>