<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div>
	<h1>cadastro do fornecedor</h1>
	<div>
		<form th:object="${fornecedor}" method="post" th:action="@{/cadastrarFornecedor/salvar}">
			<div>
				<div>
		          <input type="text" th:field="*{nomeFornecedor}">
		          <span th:if="${#fields.hasErrors('nomeFornecedor')}" th:errors="*{nomeFornecedor}"></span>
		          <label>Nome do produto</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{estado}">
		          <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
		          <label>Estado</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{cidade}">
		          <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
		          <label>Cidade</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{email}">
		          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		          <label>Email</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{telefone}">
		          <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
		          <label>Telefone</label>
		        </div>
			</div>
		<button type="submit"><i>save</i>Salvar</button>
		</form>
	 </div>
	</div>
</body>
</html>