<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Editar produto</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>

	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div>
	<h1>Alterar do fornecedor</h1>
	<div>
		<form method="post" th:object="${fornecedor}" th:action="@{/fornecedor/alterar}">
			<div>
				<input type="hidden" th:field="*{idFornecedor}">
				<div>
		          <input type="text" th:field="*{nomeFornecedor}">
		          <span th:if="${#fields.hasErrors('nomeFornecedor')}" th:errors="*{nomeFornecedor}"></span>
		          <label>Nome do produto</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{estado}">
		          <label>Estado</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{cidade}">
		          <label>Cidade</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{email}">
		          <label>Email</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" th:field="*{telefone}">
		          <label>Telefone</label>
		        </div>
			</div>
		<button type="submit"><i>save</i>Salvar</button>
		</form>
	 </div>
	</div>
</body>
</html>