<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
			<form method="post" th:action="@{/logout}">	
				<button type="submit">Sair</button>
			</form>
		</div>
	</nav>
	
	<h1>Tabela de fornecedores</h1>
	
	<div class=row>
			<form th:object="${fornecedor}" th:action="@{/fornecedores/nomeFonecedor}" method="get">
				<div>
					<div>
			          <input name="nomeFornecedor" type="text">
			          <label>Nome</label>
			        </div>
			        <button type="submit">Buscar</button>
				</div>
			</form>
		</div>
	
	<div>
	<span th:text="${#strings.isEmpty(messagem)} ? 
          '' : ${messagem}"></span>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Estado</th>
					<th>Cidade</th>
					<th>Email</th>
					<th>Telefone</th>
					<th>Ferramentas</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fornecedor : ${fornecedores}">
					<td th:text="${fornecedor.idFornecedor}"></td>
					<td th:text="${fornecedor.nomeFornecedor}"></td>
					<td th:text="${fornecedor.estado}"></td>
					<td th:text="${fornecedor.cidade}"></td>
					<td th:text="${fornecedor.email}"></td>
					<td th:text="${fornecedor.telefone}"></td>
					<td>
						<a th:href="@{/fornecedor/alterar/{id} (id=${fornecedor.idFornecedor})}"><i>edit</i></a>
						<a th:href="@{/fornecedores/{id} (id=${fornecedor.idFornecedor})}"><i>delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/cadastrarFornecedor"><i>add_circle</i>Novo</a>			
	</div>
</body>
</html>