<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
      <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
			<form method="post" th:action="@{/logout}">	
				<button type="submit">Sair</button>
			</form>
		</div>
	</nav>
	<h5 th:each="usuario : ${usuario}">
		<span th:text="${usuario.getAuthorities()}"></span>
	</h5>
	
</body>
</html>