<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head> 
		<title>Tela de login</title>
		<meta charset="UTF-8">
      <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
      
	</head>
<body>
	<div th:if="${param.logout}">
		<span>Você saiu da aplicação</span>
	</div>
	<div>
		<form th:object="${user}" th:action="@{/login}" method="post">
			<div>
				<div>
				 	<i >account_circle</i>
					<input type="text" name="username">
					<label for="usuarioLogin">Usuario</label>
				</div>
			</div>
			<div >
				<div >
				 	<i >mode_edit</i>
					<input type="password" name="password">			
					<label for="senha">Passoword</label>
				</div>
			</div>
			<span th:text="${error}"></span>
			<button type="submit"><i>save</i>Salvar</button>
		</form>
	</div>
	
</body>
</html>