<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Pricinpal</title>
	<meta charset="UTF-8"/>
	
      <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div>
	<h1>Cadastro do produto</h1>
	<div>
		<form th:object="${produto}" method="post" th:action="@{/cadastrarProduto}">
			<div>
				<div>
		          <input type="text" class="validate" th:field="*{nomeProduto}">
		          <span th:if="${#fields.hasErrors('nomeProduto')}" th:errors="*{nomeProduto}"></span>
		          <label th:for="nomeProduto">Nome do produto</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="text" name="marca">
		          <span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></span>
		          <label>Marca</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="number" name="precoCompra" value="0">
		          <span th:if="${#fields.hasErrors('precoCompra')}" th:errors="*{precoCompra}"></span>
		          <label>Preço de compra</label>
		        </div>
			</div>
			<div>
				<div>
		          <input type="number" name="precoVenda" value="0">
		          <span th:if="${#fields.hasErrors('precoVenda')}" th:errors="*{precoVenda}"></span>
		          <label>Preço de venda</label>
		        </div>
			</div>
		<button type="submit"><i>save</i>Salvar</button>
		</form>
	 </div>
	</div>
</body>
</html>