<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Editar produto</title>
	<meta charset="UTF-8"/>
	
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" th:href="@{/materialize/css/materialize.min.css}"  media="screen,projection"/>

</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/produtos">Produto</a></li>
				<li><a href="/fornecedores">Fornecedor</a></li>
				<li><a href="/funcionarios">Funcionario</a></li>
				<li><a href="/usuarios">Usuario</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="row">
	<h1>Alterar do produto</h1>
	<div class="container">
		<form class="col s12" method="post" th:object="${produto}" th:action="@{/alterar}">
			<div class="row">
				<input type="hidden" th:field="*{idProduto}">
				<div class="input-field col s6">
		          <input type="text" class="validate" th:field="*{nomeProduto}">
		          <span th:if="${#fields.hasErrors('nomeProduto')}" th:errors="*{nomeProduto}"></span>
		          <label>Nome do produto</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s6">
		          <input type="text" class="validate" th:field="*{marca}">
		          <span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></span>
		          <label>Marca</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s6">
		          <input type="number" class="validate" th:field="*{precoCompra}">
		          <span th:if="${#fields.hasErrors('precoCompra')}" th:errors="*{precoCompra}"></span>
		          <label>Preço de compra</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s6">
		          <input type="number" class="validate" th:field="*{precoVenda}">
		          <span th:if="${#fields.hasErrors('precoVenda')}" th:errors="*{precoVenda}"></span>
		          <label>Preço de venda</label>
		        </div>
			</div>
		<button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">save</i>Salvar</button>
		</form>
	 </div>
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
</body>
</html>